/* Beginning section of few reasons */
.few-reasons {
  width: 1200px;
  height: 1030px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  .few-reasons-article {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    .few-reasons-leader-img {
      width: 1200px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .few-reasons-greylight-img {
      width: 1200px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0.9;
    }
    .container-fewr-title {
      display: flex;
      position: absolute;
      top: 50px;
      left: 120px;
      z-index: 2;
      h2 {
        margin-left: 30px;
        margin-right: 30px;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 400;
        color: #233142;
        span {
          font-weight: 600;
          color: #377dff;
        }
      }
      img {
        display: block;
        height: 100px;
        align-self: center;
      }
    }
    .container-article-items {
      position: absolute;
      z-index: 2;
      width: 400px;
      left: 120px;
      top: 240px;
      h3 {
        margin-bottom: 10px;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 400;
        color: #657991;
        &:hover {
          cursor: pointer;
          color: #377dff;
        }
      }
      h4 {
        margin-top: 10px;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #233142;
      }
      p {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #5c6f87;
      }
    }
  }
}

/* Beginning section of few reasons */
