/* BEGINNING OF HEADER */

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .header-social-links {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    .header-telephone {
      margin-left: 3em;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: white;
    }
    .container-social-links {
      margin-right: 3em;
      a {
        margin-left: 12px;
        margin-right: 12px;
      }
      a > img {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
  .header-navigation {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    background-color: #0c1117;
    picture {
      margin-left: 3em;
      display: flex;
      align-items: center;
    }
    .main-logo {
      display: inline-block;
      margin-left: 5px;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 400;
      line-height: 34px;
      color: #377dff;
    }

    .nav-menu {
      margin-right: 3em;
      display: flex;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: white;
      p {
        margin-left: 1em;
        margin-right: 1em;
        cursor: pointer;
        &:hover {
          color: #377dff;
        }
      }
    }
  }
  .header-banner-elements {
    position: relative;
    .header-planet-img {
      display: block;
      width: 1200px;
    }
    .header-grey-banner-img {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      display: block;
      width: 1200px;
    }
    .header-triangle-img {
      display: block;
      width: 1200px;
      position: absolute;
      z-index: 4;
      right: 0;
      bottom: 90px;
    }
    .header-businessman-img {
      display: block;
      width: 600px;
      position: absolute;
      z-index: 3;
      right: 5px;
      bottom: 118px;
    }
    .header-description {
      position: absolute;
      z-index: 4;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      color: white;
      left: 3em;
      top: 460px;
    }
    .header-buttons {
      position: absolute;
      z-index: 4;
      top: 580px;
      left: 3em;
    }

    .button-start-now {
      display: inline-block;
      width: 150px;
      height: 50px;
      margin-right: 5px;
      padding: 1em 0.8em;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      border-radius: 30px;
      color: white;
      background-color: #377dff;
      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #377dff;
      }
    }
    .button-learn-more {
      display: inline-block;
      width: 150px;
      height: 50px;
      margin-left: 5px;
      padding: 1em 0.8em;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: white;
      border-radius: 30px;
      border: 2px solid #377dff;
      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #377dff;
      }
    }
    .header-big-title {
      position: absolute;
      top: 200px;
      left: 3em;
      z-index: 4;
      display: flex;
      align-items: center;
      .num-title {
        margin-left: 10px;
        margin-right: 10px;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 160px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.13);
      }
      .vertical-line {
        margin-left: 10px;
        margin-right: 10px;
      }
      .top-bottom-main-title {
        margin-left: 10px;
        margin-right: 10px;
        .top-main-title {
          text-align: left;
          margin-top: auto;
          margin-bottom: auto;
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-size: 50px;
          font-weight: 400;
          color: white;
        }
        .bottom-main-title {
          margin-top: auto;
          margin-bottom: auto;
          text-align: left;
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-size: 50px;
          font-weight: 400;
          line-height: 80px;
          color: #377dff;
        }
      }
    }
  }
}

/* Ending of header */
