.our-best-workers {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.obw-wrapper {
  display: flex;
  h2 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    span {
      color: #377dff;
    }
  }
}
