.our-best {
  margin-top: 150px;
  .our-best-wrapper {
    display: block;
    display: flex;
    justify-content: center;
    .obw-left-person-img,
    .obw-middle-person-img,
    .obw-right-person-img {
      width: 270px;
      margin-left: 4px;
      margin-right: 4px;
      img {
        width: 270px;
      }
    }
    .obw-title {
      width: 270px;
      margin-top: auto;
      margin-bottom: auto;
      .obw-title-top {
        display: flex;
        align-items: center;
      }
    }
    h2 {
      width: max-content;
      margin-left: 10px;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 600;
      span {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        color: #377dff;
      }
    }
  }
  .obw-button {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    padding: 1em;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border: 2px solid #377dff;
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: #377dff;
    }
  }
  .obw-name-person {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #141d28;
  }
  .obw-profession {
    margin-top: 5px;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5c6f87;
  }
}
