/* Beginning of section Our Testimonials */
* {
  box-sizing: border-box;
}
.testimonials {
  width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.testimonials-title {
  display: flex;
  justify-content: center;
  h2 {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 1px;
    span {
      margin-left: 10px;
      margin-right: 10px;
      letter-spacing: 1px;
      color: #377dff;
    }
  }
  img {
    display: block;
    width: 3px;
    height: 42px;
    align-self: center;
  }
}

.testimonials-slider {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.btn-left {
  display: block;
  margin-left: 50px;
  border: none;
  background-color: transparent;
  :hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.btn-right {
  display: block;
  margin-right: 50px;
  border: none;
  background-color: transparent;

  :hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.current-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 790px;
}

.person {
  margin-top: 20px;
  margin-bottom: 20px;
  .testimonial {
    width: 790px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7em;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #506988;
    overflow: auto;
    border: 1px solid #377dff;
    border-radius: 10px;
  }

  .name-person {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: #141d28;
  }
  .profession {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4e5e72;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .like-dislike {
    width: 400px;
    height: 100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  .lof {
    display: block;
    margin-left: 25px;
    margin-right: 5px;
    align-self: flex-start;
    &:hover {
      cursor: pointer;
    }
  }
  .dof {
    display: block;
    margin-left: 25px;
    margin-right: 5px;
    align-self: flex-end;
    &:hover {
      cursor: pointer;
    }
  }

  .sum-dislikes {
    display: block;
    align-self: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #377dff;
  }
  .sum-likes {
    display: block;
    align-self: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #377dff;
  }
}

.hide {
  display: none;
}

.show {
  text-align: center;
  padding-top: 0.3em;
  margin-left: auto;
  margin-right: auto;
}

.comment-buttons {
  width: 1200px;
  height: 120px;
  text-align: center;
  margin-top: 50px;
  .btn-add-comment {
    width: 200px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 1em;
    background-color: #377dff;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    &:hover {
      cursor: pointer;
      box-shadow: 4px 4px 10px gray;
    }
  }

  .btn-remove-comment {
    width: 200px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 1em;
    border: 2px solid #377dff;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #377dff;
    background-color: #fff;
    &:hover {
      cursor: pointer;
      box-shadow: 4px 4px 10px gray;
    }
  }
}
.hide-comment-buttons {
  display: none;
}

.form {
  width: 1200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #377dff;
  .select-avatar {
    width: 800px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
  }
  .input-name {
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5em;
    padding-left: 20px;
    font-size: 24px;
    text-align: left;
    border: none;
  }
  .input-profession {
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5em;
    padding-left: 20px;
    text-align: left;
    font-size: 24px;
    border: none;
  }
  .textarea-comment {
    width: 800px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0.5em;
    padding-left: 20px;
    font-size: 24px;
    text-align: left;
    border: none;
  }
}
.hide-form {
  display: none;
}
.show-form {
}

.save-clear-buttons {
  width: 1200px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  .save-comment {
    width: 300px;
    height: 80px;
    margin-right: 102px;
    text-align: center;
    padding: 1em;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #377dff;
    background-color: #fff;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #377dff;
      color: #fff;
      border: 2px solid #fff;
    }
  }
  .clear-and-return {
    width: 300px;
    height: 80px;
    margin-left: 102px;
    text-align: center;
    padding: 1em;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #377dff;
    background-color: #fff;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #377dff;
      color: #fff;
      border: 2px solid #fff;
    }
  }
}
