/* BEGINNING OF HEADER */

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  .header-social-links {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    .header-telephone {
      margin-left: 3em;
      font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: white;
    }
    .container-social-links {
      margin-right: 3em;
      a {
        margin-left: 12px;
        margin-right: 12px;
      }
      a > img {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  header {
    max-width: 425px;
    min-width: 320px;
  }
}

/* ENDING OF HEADER */
