* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BEGINNING OF HEADER */

header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  .header-social-links {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    .header-telephone {
      margin-left: 3em;
      font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: white;
    }
    .container-social-links {
      margin-right: 3em;
      a > img {
        display: inline-block;
        margin-left: 16px;
        margin-right: 16px;
        cursor: pointer;
      }
    }
  }
}

/* ENDING OF HEADER */
