* {
  box-sizing: border-box;
}

main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@import "_header";
@import "_howweworks";
@import "_ourbest";
@import "_fewreasons";
@import "_gallery";
@import "_testimonials";
@import "_newera";
@import "_ournews";
